@font-face {
  font-family: 'handwritten';
  src: url('/content/fonts/handwritten/handwritten.eot'); /* IE9 Compat Modes */
  src: url('/content/fonts/handwritten/handwritten.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/content/fonts/handwritten/handwritten.woff2') format('woff2'), /* Super Modern Browsers */
       url('/content/fonts/handwritten/handwritten.woff') format('woff'), /* Pretty Modern Browsers */
       url('/content/fonts/handwritten/handwritten.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/content/fonts/handwritten/handwritten.svg#svgFontName') format('svg'); /* Legacy iOS */
} 



body{
	margin: 0;
	color: white;
	font-family: handwritten;
    background-image:url(/content/images/texture2.png);
    background-color: #00b7ff;
    text-align: center;
    border:none;
}


a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: lightgray;
}

.social{
    margin-left: auto;
    margin-right: auto;
    width: 512px; 
    height: auto;
}


table{
   margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

th{
    padding: 50px;
}



















